<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CED0904420D23AA60044C23F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CED0905820D23AAD0044C23F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CED0906320D23AAD0044C23F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
